
@model Alice.Service.Model.TourDTO
@{
    ViewData["Title"] = "Tur Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var categoryList = ((Alice.Admin.Models.TourCategoryViewModel)ViewBag.Categories);

}

<script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>

<input type="hidden" value="@Model.Id" id="TourId" />

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_1_1_tab_content" role="tab" aria-selected="true">
                            <i class="la la-cog"></i> Genel Tur Bilgileri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_1_2_tab_content" role="tab" aria-selected="false">
                            <i class="la la-briefcase"></i> İşaretlemeler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_1_3_tab_content" role="tab" aria-selected="false">
                            <i class="la la-bell-o"></i>Galeri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_1_4_tab_content" role="tab" aria-selected="false">
                            <i class="la la-bell-o"></i>Tur Planı
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_1_5_tab_content" role="tab" aria-selected="false">
                            <i class="la la-bell-o"></i>Otel Listesi
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_1_6_tab_content" role="tab" aria-selected="false">
                            <i class="la la-bell-o"></i>Tour Maps
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="kt_portlet_base_demo_1_1_tab_content" role="tabpanel">

                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Tur Adı</label>
                        <div class="col-10">
                            <input class="form-control" type="text" value="@Model.TourName" id="TourName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Tur Kısa Açıklama</label>
                        <div class="col-10">
                            <div id="TourSpot"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Tur Açıklama</label>
                        <div class="col-10">
                            <div id="TourBody"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Tur Tipi</label>
                        <div class="col-10">
                            <select class="form-control" id="TourType">
                                @if (Model.TourType == 0)
                                {
                                    <option value="0" selected="selected">Daily Tour (Days)</option>
                                    <option value="1">Daily Tour (Morning, Lunch v.b)</option>
                                }
                                else
                                {
                                    <option value="0">Daily Tour (Days)</option>
                                    <option value="1" selected="selected">Daily Tour (Morning, Lunch v.b)</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Tur Activity</label>
                        <div class="col-10">
                            @{
                                var high = "";
                                var mod = "";
                                var lig = "";
                                if (Model.TourActivity == 0)
                                {
                                    lig = "checked";
                                }
                                else if (Model.TourActivity == 1)
                                {
                                    mod = "checked";
                                }
                                else
                                {
                                    high = "checked";
                                }
                            }

                            <input type="checkbox" id="TourActivity2" name="TourActivity2" @high /> H (High)<br />
                            <input type="checkbox" id="TourActivity1" name="TourActivity1" @mod /> M (Moderate)<br />
                            <input type="checkbox" id="TourActivity0" name="TourActivity0" @lig /> L (Light)<br />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label"> </label>
                        <div class="col-10">
                            <button class="btn btn-outline-primary btn-sm kt-margin-t-5 kt-margin-b-5" id="TourInformationSave">Güncelle</button>
                            @*<button class="btn btn-outline-danger btn-sm kt-margin-t-5 kt-margin-b-5" id="TourCategoriesSave">Bu Turu Sil</button>*@
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="kt_portlet_base_demo_1_2_tab_content" role="tabpanel">
                    <div class="kt-checkbox-list">

                        @foreach (var item in categoryList.AllCategories.Where(x => x.MainCategoryId == 0))
                        {
                            var isChecked = categoryList.SelectAllCategories.Count(x => x.CategoriesId == item.Id);

                            <label class="kt-checkbox">
                                <input type="checkbox" @(isChecked == 1 ? "checked='checked'" : "") value="@item.Id" name="TourCategories"> <strong>@item.CategoryName</strong>
                                <span></span>
                            </label>
                            @foreach (var subItem in categoryList.AllCategories.Where(x => x.MainCategoryId == item.Id))
                            {
                                var isSubChecked = categoryList.SelectAllCategories.Count(x => x.CategoriesId == subItem.Id);
                                <label class="kt-checkbox" style="margin-left: 30px;">
                                    <input type="checkbox" @(isSubChecked == 1 ? "checked='checked'" : "") value="@subItem.Id" name="TourCategories"> @subItem.CategoryName
                                    <span></span>
                                </label>
                                @foreach (var bsubItem in categoryList.AllCategories.Where(x => x.MainCategoryId == subItem.Id))
                                {
                                    var isBSubChecked = categoryList.SelectAllCategories.Count(x => x.CategoriesId == bsubItem.Id);
                                    <label class="kt-checkbox" style="margin-left: 60px;">
                                        <input type="checkbox" @(isBSubChecked == 1 ? "checked='checked'" : "") value="@bsubItem.Id" name="TourCategories"> @bsubItem.CategoryName
                                        <span></span>
                                    </label>
                                }
                            }
                        }
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <br /><br />
                            <button class="btn btn-outline-primary btn-sm kt-margin-t-5 kt-margin-b-5" id="TourCategoriesSave">Güncelle</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_portlet_base_demo_1_3_tab_content" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="col-xl-12 alreadyimagelist">

                            </div>
                            <br />
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label><strong>Aramak İstediğiniz Resim için Anahtar Kelime Seçin</strong></label>
                                    <div class="input-group">
                                        <select name="ImageSearch" class="form-control selectpicker col-10" style="border:1px solid #5578eb;">
                                            @foreach (var item in ((Alice.Admin.Models.TourCategoryViewModel)ViewBag.Categories).SelectAllKeyword)
                                            {
                                                <option value="@item.Keyword">@item.Keyword</option>
                                            }
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-info resimara" type="button">Galeride Ara</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group galeriload">

                                </div>

                                <div class="form-group">
                                    <div class="custom-file">
                                        <button type="submit" class="btn btn-primary resimekletamamla" data-id="1">Tur Galerisine Ekle</button>
                                        <button type="submit" class="btn btn-info resimekletamamla" data-id="2">Tur Kapak Resmi Ekle</button>
                                        <button type="submit" class="btn btn-success resimekletamamla" data-id="3">Tur Slider'ı Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_portlet_base_demo_1_4_tab_content" role="tabpanel">
                    <div class="row dayschecked">
                        <div class="col-xl-12">
                            <div class="kt-portlet__body">
                                @if (Model.TourType == 0)
                                {


                                    <table class="table table-bordered dayinfo" style="display:none;">
                                        <tr style="display:none;">
                                            <td>Id (Bu Alana Dokunma)</td>
                                            <td><input type="number" class="form-control" name="Id" value="0" /></td>
                                        </tr>
                                        <tr>
                                            <td>Gün</td>
                                            <td><input type="number" class="form-control" name="Day" /></td>
                                        </tr>
                                        <tr>
                                            <td>Gün Başlık</td>
                                            <td><input type="text" class="form-control" name="DayTitle" /></td>
                                        </tr>
                                        <tr>
                                            <td>Gün Açıklama</td>
                                            <td><input type="text" class="form-control" name="DayDetail" /></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button class="btn btn-info btn-sm dayAdds" style="width:80px;">Ekle</button></td>
                                        </tr>
                                    </table>

                                    <button class="btn btn-success btn-sm dayAdd" style="width:120px;">Yeni Gün Ekle</button>

                                    <table class="table table-bordered">
                                        @foreach (var item in ((Alice.Admin.Models.TourCategoryViewModel)ViewBag.Categories).TourPlanList)
                                        {
                                            <tr>
                                                <td>@item.Day</td>
                                                <td>@item.DayTitle</td>
                                                <td><button class="btn btn-danger btn-sm daydelete" data-id="@item.Id">Sil</button></td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <table>
                                        <tr>
                                            <td>Morning (M)</td>
                                            <td><div id="TourMorning"></div></td>
                                        </tr>
                                        <tr>
                                            <td>Lunch (L)</td>
                                            <td><div id="TourLunch"></div></td>
                                        </tr>
                                        <tr>
                                            <td>Afternoon (A)</td>
                                            <td><div id="TourAfternoon"></div></td>
                                        </tr>
                                        <tr>
                                            <td>Notes (N)</td>
                                            <td><div id="TourNotes"></div></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button class="btn btn-danger btn-sm dailyupdate">Güncelle</button></td>
                                        </tr>
                                    </table>
                                }




                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="kt_portlet_base_demo_1_6_tab_content" role="tabpanel">
                    <div class="row dayschecked">
                        <div class="col-xl-12">
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Maps Açıklama</label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" value="@Model.TourMapDesc" id="TourMapDesc">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label><strong>Aramak İstediğiniz Resim için Anahtar Kelime Seçin</strong></label>
                                    <div class="input-group">
                                        <select name="MapsImageSearch" class="form-control selectpicker col-10" style="border:1px solid #5578eb;">
                                            @foreach (var item in ((Alice.Admin.Models.TourCategoryViewModel)ViewBag.Categories).SelectAllKeyword)
                                            {
                                                <option value="@item.Keyword">@item.Keyword</option>
                                            }
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-info resimaramaps" type="button">Galeride Ara</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group galeriloadmaps">

                                </div>

                                <div class="form-group">
                                    <div class="custom-file">
                                        <button type="submit" class="btn btn-primary mapresimekletamamla" data-id="1">Maps Olarak Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Content/js/pages/components/extended/sweetalert2.js" type="text/javascript"></script>
    <script>

        $(function () {


            $(".dayAdd").click(function () {
                $(".dayinfo").show();
                //$("input[name='Id']").val();
            });

            if (@Model.TourType==1)
            {
                let TourMorning;
                ClassicEditor
                    .create(document.querySelector('#TourMorning'))
                    .then(newEditor => {
                        newEditor.setData("@Html.Raw(Model.TourMorning)");
                        TourMorning = newEditor;
                    })
                    .catch(error => {
                        console.error(error);
                    });

                let TourLunch;
                ClassicEditor
                    .create(document.querySelector('#TourLunch'))
                    .then(newEditor => {
                        newEditor.setData("@Html.Raw(Model.TourLunch)");
                        TourLunch = newEditor;
                    })
                    .catch(error => {
                        console.error(error);
                    });

                let TourAfternoon;
                ClassicEditor
                    .create(document.querySelector('#TourAfternoon'))
                    .then(newEditor => {
                        newEditor.setData("@Html.Raw(Model.TourAfternoon)");
                        TourAfternoon = newEditor;
                    })
                    .catch(error => {
                        console.error(error);
                    });
                let TourNotes;
                ClassicEditor
                    .create(document.querySelector('#TourNotes'))
                    .then(newEditor => {
                        newEditor.setData("@Html.Raw(Model.Notes)");
                        TourNotes = newEditor;
                    })
                    .catch(error => {
                        console.error(error);
                    });

                $('.dailyupdate').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/Tour/DailyTourUpdate",
                        data: {
                            "TourMorning": TourMorning.getData(),
                            "TourLunch": TourLunch.getData(),
                            "TourAfternoon": TourAfternoon.getData(),
                            "Notes": TourNotes.getData(),
                            "TourId": parseInt($("#TourId").val())
                        },
                        success: function (x) {
                            if (x == false) {
                                alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                            }
                            else {
                                swal.fire({
                                    title: "Güncelleniyor..",
                                    text: "Bu aralar çok hızlıyım, merak etme hemen güncelliyorum :)",
                                    timer: 4000,
                                    onOpen: function () {
                                        swal.showLoading()
                                    }
                                }).then(function (result) {
                                    if (result.dismiss === 'timer') {
                                        window.location.reload(false);
                                    }
                                });
                            }
                        },
                        dataType: "json"
                    });
                });
            }

            $(".dayAdds").click(function () {

                $.ajax({
                type: "POST",
                url: "/Tour/AddTourDayOrUpdate",
                data: {
                    "tourDayId": parseInt($("input[name='Id']").val()),
                    "tourDay": parseInt($("input[name='Day']").val()),
                    "tourDayTitle": $("input[name='DayTitle']").val(),
                    "tourDayDetail": $("input[name='DayDetail']").val(),
                    "tourId": parseInt($("#TourId").val())
                },
                success: function (x) {
                    if (x == false) {
                        alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                    }
                    else {
                        swal.fire({
                            title: "Bu Gün Kayıtı Siliniyor.",
                            text: "Bu aralar çok hızlıyım, merak etme hemen siliyorum :)",
                            timer: 4000,
                            onOpen: function () {
                                swal.showLoading()
                            }
                        }).then(function (result) {
                            if (result.dismiss === 'timer') {
                                window.location.reload(false);
                            }
                        });
                    }
                },
                dataType: "json"
            });
            });



            $(".alreadyimagelist").load("/Tour/GetTourImages?Id=" + $("#TourId").val());
        $('.daydelete').click(function () {
                var tourDayId = $(this).attr("data-id");
                $.ajax({
                type: "GET",
                url: "/Tour/TourDayDelete",
                data: {
                    "tourDayId": parseInt(tourDayId)
                },
                success: function (x) {
                    if (x == false) {
                        alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                    }
                    else {
                        swal.fire({
                            title: "Bu Gün Kayıtı Siliniyor.",
                            text: "Bu aralar çok hızlıyım, merak etme hemen siliyorum :)",
                            timer: 4000,
                            onOpen: function () {
                                swal.showLoading()
                            }
                        }).then(function (result) {
                            if (result.dismiss === 'timer') {
                                window.location.reload(false);
                            }
                        });
                    }
                },
                dataType: "json"
            });

            });

            $('.resimekletamamla').click(function () {
                var galleryId = $("input[name='GetGalleryByText']").val();
                var tourId = $("#TourId").val();
                var imageType = $(this).attr("data-id");
                $.ajax({
                type: "POST",
                url: "/Tour/AddTourGalleries",
                data: {
                    "tourId": parseInt(tourId),
                    "galleryId": galleryId,
                    "imageType": parseInt(imageType)
                },
                success: function (x) {
                    if (x == false) {
                        alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                    }
                    else {
                        swal.fire({
                            title: "Resim Ekleniyor",
                            text: "Bu aralar çok hızlıyım, merak etme hemen ekliyorum :)",
                            timer: 5000,
                            onOpen: function () {
                                swal.showLoading()
                            }
                        }).then(function (result) {
                            if (result.dismiss === 'timer') {
                                 $(".alreadyimagelist").load("/Tour/GetTourImages?Id=" + tourId);
                                //window.location.reload(false);
                            }
                        });
                    }
                },
                dataType: "json"
            });

            });


            $('.mapresimekletamamla').click(function () {
                var galleryId = $("input[name='GetGalleryByText']").val();
                var tourId = $("#TourId").val();
                var imageType = $(this).attr("data-id");
                $.ajax({
                type: "POST",
                url: "/Tour/MapsAddTourGalleries",
                data: {
                    "tourId": parseInt(tourId),
                    "galleryId": galleryId,
                    "imageType": parseInt(imageType),
                    "mapsDesc":$("#TourMapDesc").val()
                },
                success: function (x) {
                    if (x == false) {
                        alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                    }
                    else {
                        swal.fire({
                            title: "Resim Ekleniyor",
                            text: "Bu aralar çok hızlıyım, merak etme hemen ekliyorum :)",
                            timer: 5000,
                            onOpen: function () {
                                swal.showLoading()
                            }
                        }).then(function (result) {
                            if (result.dismiss === 'timer') {
                                 $(".alreadyimagelist").load("/Tour/GetTourImages?Id=" + tourId);
                                //window.location.reload(false);
                            }
                        });
                    }
                },
                dataType: "json"
            });

            });




            $('.imageselect').click(function () {
                var galleryId = $(this).children("img").data("id");
            });

            $('.resimara').click(function () {
                var text = $("select[name='ImageSearch']").val();
                $(".galeriload").load("/Tour/GetGallerybyText?text=" + text);
                $('.imageselect').bind("click");
            });

             $('.resimaramaps').click(function () {
                var text = $("select[name='MapsImageSearch']").val();
                $(".galeriloadmaps").load("/Tour/GetGallerybyText?text=" + text);
                $('.mapresimekletamamla').bind("click");
            });
        });

        let TourSpot;
        let TourBody;

        ClassicEditor
            .create(document.querySelector('#TourSpot'))
            .then(newEditor => {
                newEditor.setData("@Html.Raw(Model.TourSpot)");
                TourSpot = newEditor;
            })
            .catch(error => {
                console.error(error);
            });



        ClassicEditor
            .create(document.querySelector('#TourBody'))
            .then(newEditor => {
                newEditor.setData("@Html.Raw(Model.OverView)");
                TourBody = newEditor;
            })
            .catch(error => {
                console.error(error);
            });


        $('.imagechoose').click(function () {
            $("select[name='imagezone']").val($(this).data("number"));
        });


        // Assuming there is a <button id="submit">Submit</button> in your application.
        document.querySelector('#TourInformationSave').addEventListener('click', () => {


            $.ajax({
                type: "POST",
                url: "/Tour/UpdateTour",
                data: {
                    "Id": parseInt($("#TourId").val()),
                    "TourName": $("#TourName").val(),
                    "TourSpot": TourSpot.getData(),
                    "TourBody": TourBody.getData(),
                    "TourActivity2":$("input[name='TourActivity2']").is(":checked"),
                    "TourActivity1":$("input[name='TourActivity1']").is(":checked"),
                    "TourActivity0": $("input[name='TourActivity0']").is(":checked"),
                    "TourType":  $("#TourType :selected").val()
                },
                success: function (x) {
                    if (x == false) {
                        alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                    }
                    else {
                        swal.fire({
                            title: "Genel Tur Bilgileri Güncelleniyor...",
                            text: "Sandığın gibi değil, çok hızlı güncelliyorum :)",
                            timer: 3000,
                            onOpen: function () {
                                swal.showLoading()
                            }
                        }).then(function (result) {
                            if (result.dismiss === 'timer') {
                                window.location.reload(false);
                            }
                        });
                    }
                },
                dataType: "json"
            });
        });


         document.querySelector('#TourCategoriesSave').addEventListener('click', () => {
             var ids = [];
$('input[name="TourCategories"]:checked').each(function(i, e) {
    ids.push($(this).val());
});

            $.ajax({
                type: "POST",
                url: "/Tour/UpdateCategories",
                data: {
                    "Id": parseInt($("#TourId").val()),
                    "CategoryList": ids
                },
                success: function (x) {
                    if (x == false) {
                        alert("Bir Sorun Var! Lütfen tekrar deneyiniz.");
                    }
                    else {
                        swal.fire({
                            title: "Genel Tur Bilgileri Güncelleniyor...",
                            text: "Sandığın gibi değil, çok hızlı güncelliyorum :)",
                            timer: 3000,
                            onOpen: function () {
                                swal.showLoading()
                            }
                        }).then(function (result) {
                            if (result.dismiss === 'timer') {
                                window.location.reload(false);
                            }
                        });
                    }
                },
                dataType: "json"
            });
        });

    </script>

}