@{
    var homeModel = (Alice.Web.Models.LayoutModel)ViewBag.HomePage;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Alice.Service.Helper.SliderHelper imageget = new Alice.Service.Helper.SliderHelper();
}

<section class="manset">
    <div class="mansetSlide">
        <div class="item" style="background:url('@(homeModel.SliderFirstImage)'">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slideHeading animated fadeInLeft">
                            @homeModel.SliderFirstTitle
                            <div class="btnTable">
                                <a href="@homeModel.SliderFirstButtonLink" class="whiteBtn">
                                    @homeModel.SliderFirstButtonTitle <img src="/Content/img/littleArrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(@(homeModel.SliderSecondImage)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slideHeading animated fadeInLeft">
                            @homeModel.SliderSecondTitle
                            <div class="btnTable">
                                <a href="@homeModel.SliderSecondButtonLink" class="whiteBtn">
                                    @homeModel.SliderSecondButtonTitle <img src="/Content/img/littleArrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(@(homeModel.SliderThirdImage)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slideHeading animated fadeInLeft">
                            @homeModel.SliderThirdTitle
                            <div class="btnTable">
                                <a href="@homeModel.SliderThirdButtonLink" class="whiteBtn">
                                    @homeModel.SliderThirdButtonTitle <img src="/Content/img/littleArrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(@(homeModel.SliderForthImage)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slideHeading animated fadeInLeft">
                            @homeModel.SliderForthTitle
                            <div class="btnTable">
                                <a href="@homeModel.SliderForthButtonLink" class="whiteBtn">
                                    @homeModel.SliderForthButtonTitle <img src="/Content/img/littleArrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-controls">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="whiteNavigation">
                        <div class="slideNumbers">
                            <div class="item"><strong class="active">01</strong> <span class="totalSlide">02</span> </div> <!-- Total Slide yukarıdaki slide item kaç taneyse o kadar olacak -->
                            <div class="item"><strong class="active">02</strong> <span class="totalSlide">04</span> </div>
                            <div class="item"><strong class="active">03</strong> <span class="totalSlide">04</span> </div>
                            <div class="item"><strong class="active">04</strong> <span class="totalSlide">04</span> </div>
                        </div>
                        <div class="slide-m-dots"></div>
                        <div class="slideArrows">
                            <button type="button" class="slide-m-prev">
                                <img src="/Content/img/left.png" alt="">
                            </button>
                            <button type="button" class="slide-m-next">
                                <img src="/Content/img/right.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourLine">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line d-flex align-items-start">
                    <span class="wow slideInLeft">
                        @homeModel.texttitle
                    </span>
                    <p class="wow slideInRight">
                        @Html.Raw(homeModel.textdescription)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="events compatible">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="blurBox col4 wow fadeIn" data-wow-delay="0.1s">
                    <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageOneTitle)}")">
                        <picture>
                            <img src="@homeModel.HomeCategoryImageOne" data-src="@homeModel.HomeCategoryImageOne" data-loadMode="0"  alt="Travel">
                        </picture>
                        <span class="visibleText">@homeModel.HomeCategoryImageOneTitle</span>
                        <i class="middleText"><span>@homeModel.HomeCategoryImageOneTitle</span></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="blurBox col4 wow fadeIn" data-wow-delay="0.2s">
                    <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageTwoTitle)}")">
                        <picture>
                            <img src="@homeModel.HomeCategoryImageTwo" data-src="@homeModel.HomeCategoryImageTwo" data-loadMode="0"  alt="Travel">
                        </picture>
                        <span class="visibleText">@homeModel.HomeCategoryImageTwoTitle</span>
                        <i class="middleText"><span>@homeModel.HomeCategoryImageTwoTitle</span></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="blurBox col4 wow fadeIn" data-wow-delay="0.3s">
                    <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageThreeTitle)}")">
                        <picture>
                            <img src="@homeModel.HomeCategoryImageThree" data-src="@homeModel.HomeCategoryImageThree" data-loadMode="0" alt="Travel">
                        </picture>
                        <span class="visibleText">@homeModel.HomeCategoryImageThreeTitle</span>
                        <i class="middleText"><span>@homeModel.HomeCategoryImageThreeTitle</span></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="blurBox col4Vertical wow fadeIn" data-wow-delay="0.4s">
                    <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageFourTitle)}")">
                        <picture>
                            <img src="@homeModel.HomeCategoryImageFour" data-src="@homeModel.HomeCategoryImageFour" data-loadMode="0" alt="Travel">
                        </picture>
                        <span class="visibleText">@homeModel.HomeCategoryImageFourTitle</span>
                        <i class="middleText"><span>@homeModel.HomeCategoryImageFourTitle</span></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-8">
                <div class="w-100">
                    <div class="blurBox col8 wow fadeIn" data-wow-delay="0.5s">
                        <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageFiveTitle)}")">
                            <picture>
                                <img src="@homeModel.HomeCategoryImageFive" data-src="@homeModel.HomeCategoryImageFive" data-loadMode="0" alt="Travel">
                            </picture>
                            <span class="visibleText">@homeModel.HomeCategoryImageFiveTitle</span>
                            <i class="middleText"><span>@homeModel.HomeCategoryImageFiveTitle</span></i>
                        </a>
                    </div>
                </div>
                <div class="w-50">
                    <div class="blurBox col4 wow fadeIn" data-wow-delay="0.6s">
                        <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageSixTitle)}")">
                            <picture>
                                <img  src="@homeModel.HomeCategoryImageSix" data-src="@homeModel.HomeCategoryImageSix" data-loadMode="0" alt="Travel">
                            </picture>
                            <span class="visibleText">@homeModel.HomeCategoryImageSixTitle</span>
                            <i class="middleText"><span>@homeModel.HomeCategoryImageSixTitle</span></i>
                        </a>
                    </div>
                </div>
                <div class="w-50">
                    <div class="blurBox col4 wow fadeIn" data-wow-delay="0.7s">
                        <a href="@($"/{Alice.Web.Helper.ConstHelper.UrlFriendly(homeModel.HomeCategoryImageSevenTitle)}")">
                            <picture>
                                <img src="@homeModel.HomeCategoryImageSeven" data-src="@homeModel.HomeCategoryImageSeven" data-loadMode="0" alt="Travel">
                            </picture>
                            <span class="visibleText">@homeModel.HomeCategoryImageSevenTitle</span>
                            <i class="middleText"><span>@homeModel.HomeCategoryImageSevenTitle</span></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="premiumOptions" style="background:url(/Content/img/optionBg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="optionItems">
                    <ul>
                        <li>
                            <a href="javascript:;" class="wow slideInLeft">
                                Premium
                                <span>Wedding</span> <i class="flaticon-next"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="wow fadeIn">
                                Premium
                                <span>Yatchs</span> <i class="flaticon-next"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="wow slideInRight">
                                Premium
                                <span>Chauffeur</span> <i class="flaticon-next"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="brandArea">
    <div class="brands lazyload" data-script="~/Content/js/brandSlider.js ">
        <div class="brandNav">
            <button type="button" class="litlePrev">
                <img src="/Content/img/litlePrev.png" alt="">
            </button>
        </div>
        <div class="brandSlider">
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b1.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b2.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b3.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b4.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b5.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b6.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b7.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b8.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b9.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b10.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/b11.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
            </div>
        </div>
    </div>
</section>

<section class="recommended">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="discoveredBox">
                    <div class="recommendedBlackBox">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/recoBox.jpg" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                        <div class="psAbslt">
                            <h2 class="colorableText">Recommended By <span>Luxury Istanbul</span></h2>
                            <a href="javascript:;" class="gradientBtn">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/Content/img/discoverNow.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>