@using Alice.Service.Model
@model TourDTO
@{
    ViewData["Title"] = Model.TourName;
    ViewData["SEODesctiption"] = Model.TourName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mansetNoneSlide">
    <div class="littleBg" style="background: url(@Model.TourSliderImage)">
        <div class="topSocialMedia">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.3s">
                                <a href="javascript:;">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.6s">
                                <a href="javascript:;">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.9s">
                                <a href="javascript:;">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="1.2s">
                                <a href="javascript:;">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="littleManset">
                        <h3>
                            <span>@Model.TourName</span>
                        </h3>
                    </div>
                    <div class="featureList">
                        <ul>
                            <li>
                                @{
                                    var q = ViewBag.urlPrefix.Remove(ViewBag.urlPrefix.Length - 1);
                                }
                                <a href="@($"{q}")">
                                    <i class="flaticon-info"></i>
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a href="@($"{ViewBag.urlPrefix}")tour-plan">
                                    <i class="flaticon-map-1"></i>
                                    Tour Plan
                                </a>
                            </li>
                            <li>
                                <a href="@($"{ViewBag.urlPrefix}")tour-map">
                                    <i class="flaticon-map"></i>
                                    Tour Map
                                </a>
                            </li>
                            <li>
                                <a href="@($"{ViewBag.urlPrefix}")hotel">
                                    <i class="flaticon-urban"></i>
                                    Hotels
                                </a>
                            </li>
                            <li>
                                <a href="@($"{ViewBag.urlPrefix}")conditions" class="active">
                                    <i class="flaticon-accept"></i>
                                    Conditions
                                </a>
                            </li>
                            <li>
                                <a href="@($"{ViewBag.urlPrefix}")gallery">
                                    <i class="flaticon-art"></i>
                                    Gallery
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tabSects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="avaiBox">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb withMarginSpace">
                            <!-- burda class eklendi farklı olarak withMarginSpace -->
                            <li class="breadcrumb-item active"><a href="/">HOME</a></li>
                            @*<li class="breadcrumb-item"><a href="#">Travel</a></li>
                                <li class="breadcrumb-item"><a href="#">Tour packages </a></li>
                                <li class="breadcrumb-item " aria-current="page">Family</li>*@
                            <li class="breadcrumb-item " aria-current="page">@Model.TourName</li>
                        </ol>
                    </nav>
                    <div class="contentDetail">

                        <div class="contentLeft">
                            <div class="col-12 col-md-12 col-lg-8">
                                <p>
                                    The conditions may differ according to the features of the tours and demand of our guests. We kindly ask you to inform us about the services that you want included. Once you confirm we will inform you about the exact conditions.
                                </p>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    What’s Included <i class="flaticon-arrow"></i>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <h6>What’s Included</h6>
                                                <p>
                                                    <ul style="margin-left: 80px;font-size: 16px;">
                                                        <li>Private basis expert local guides</li>
                                                        <li>Private transportation during the city tour</li>
                                                    </ul>

                                                    <span style="margin-left: 80px;font-size: 16px;">Not Included:</span>
                                                    <ul style="margin-left: 80px;font-size: 16px;">
                                                        <li>Personal expenses</li>
                                                        <li>Gratuity (tip) to guide & driver</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Add Ons <i class="flaticon-arrow"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <h6>Add Ons</h6>
                                                <p>
                                                    <ul style="margin-left: 80px;font-size: 16px;">
                                                        <li>Hotels</li>
                                                        <li>Domestic Flights</li>
                                                        <li>Entrance Fees</li>
                                                        <li>Meals</li>
                                                        <li>Optional activities</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo1">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                                    Cancellation & Refund <i class="flaticon-arrow"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion">
                                            <div class="card-body">
                                                <h6>Cancellation & Refund</h6>
                                                <p>
                                                    For Daily Tours: If you cancel the tour within 36 hour(s) of the scheduled departure, there is a 100% percent cancellation fee. If you cancel between 37-48 hour(s) in advance of the scheduled departure, there is a 50% percent cancellation fee. If more than 48hour (s) then there is no cancellation fee.
                                                    <br />

                                                    For Tour Packages: If you cancel the tour package within 48 hour(s) of the scheduled departure, there is a 100% percent cancellation fee. If you cancel between 49-72 hour(s) in advance of the scheduled departure, there is a 50 percent cancellation fee. If more than 72hour (s) then there is no cancellation fee.
                                                    <br />


                                                    Only available for tour and transfer reservations. (Hotels and Airlines have their own policy)
                                                    <br />

                                                    Refund Process: If you cancel the tour before the penalty period then we will refund the whole payment after deducting 5% administration fee.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Payment <i class="flaticon-arrow"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                <h6>Payment</h6>
                                                <p>
                                                    In order to guarantee your reservation, you can pay 35% of the total amount by filling our mail order form or pay by wire transfer.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4">
                                <div class="fixedFormBox">
                                    <h6>Book This Tour</h6>
                                    <form action="/Tour/MessagePost" method="post" post="">
                                        <div class="form-div">
                                            <input type="text" class="form-control" name="Name" placeholder="Your Name">
                                        </div>
                                        <div class="form-div">
                                            <input type="text" class="form-control" name="Phone" placeholder="Phone Number">
                                        </div>
                                        <div class="form-div">
                                            <input type="mail" class="form-control" name="Email" placeholder="Email Address">
                                        </div>
                                        <div class="form-div">
                                            <textarea id="" class="form-control" name="Notes" placeholder="Notes"></textarea>
                                        </div>
                                        <div class="form-div form-flex">
                                            <div class="input-group">
                                                <label class="input-group-btn">
                                                    <span class="btn download-btn">
                                                        <i class="flaticon-download"></i>
                                                        <input type="file" name="ozgecmis" style="display: none;" accept=".doc, .docx, .pdf">
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" readonly="">
                                            </div>
                                            <div class="sendFried">
                                                <a href="javascript:;">
                                                    <i class="flaticon-send"></i>
                                                    <span>Send to  friends</span>
                                                </a>
                                            </div>
                                            <div class="sendBtn">
                                                <input type="submit" class="form-control" value="SEND">
                                            </div>
                                        </div>
                                        <div class="tailor">
                                            <a href="javascript:;" data-toggle="modal" data-target="#tailor">
                                                <span>TAILOR MY TRIP </span><i class="fas fa-caret-right"></i>
                                            </a>
                                        </div>
                                        @*<div class="tailor">
                                                <button data-toggle="modal" data-target="#tailor"><span>TAILOR MY TRIP </span><i class="fas fa-caret-right"></i></button>

                                            </div>*@
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
