@using Alice.Service.Model
@model CategoriesDTO
@{
    ViewData["Title"] = Model.SEOTitle;
    ViewData["SEODescription"] = Model.SEODescription;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/cssPlugins.css">
<link rel="stylesheet" href="~/Content/css/style.css">

<section class="mansetNoneSlide">
    <div class="catSlide onlyOneItem">
        <!-- eğer 1 tane olacaksa catSlide divine onlyOneItem class'ı ekle -->
        @{
            foreach (var item in ((Alice.Web.Models.CategoryModel)ViewBag.CategorySlider).ImagePath)
            {
                <div class="fullBg" style="background:url(@item)"></div> <!-- eğer 1 tane olacaksa catSlide divine onlyOneItem class'ı ekle -->
            }
        }
    </div>

</section>
<section class="generallyInfo basicPages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="grayBox">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/">HOME</a></li>
                            <li class="breadcrumb-item"><a href="@Model.Path">@(Model.Title?.ToUpper())</a></li>
                            @*<li class="breadcrumb-item"><a href="#">Tour packages </a></li>
                                <li class="breadcrumb-item " aria-current="page">Family</li>*@
                        </ol>
                    </nav>
                    <h1 class="pageTitle wow slideInLeft">
                        <span>@Model.Title</span>

                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="lineText">
                    <p class="wow slideInLeft">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events withThreeBlock">
    <div class="container">
        <div class="row">
            @{
                foreach (var item in ((List<Alice.Service.Model.CategoriesDTO>)ViewBag.SubCategories))
                {
                    var image = ((Dictionary<int, string>)((Alice.Web.Models.CategoryModel)ViewBag.CategorySlider).NewCategoryImageList);
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="blurBox col3  wow fadeIn" data-wow-delay="0.1s">
                            <div class="insiderBox">
                                <a>
                                    <picture>
                                        <img src="@(image.FirstOrDefault(x=> x.Key==item.Id).Value)" data-src="@(image.FirstOrDefault(x=> x.Key==item.Id).Value)" data-loadMode="0" alt="">
                                    </picture>
                                </a>
                                @{
                                    if (item.SubCategory == null || item.SubCategory.Count() == 0)
                                    {
                                        <div class="insiderContent noneSubMenu">
                                            <a class="visibleText" href="@item.Path">@item.CategoryName</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="insiderContent">
                                            <a class="visibleText" href="@item.Path">@item.CategoryName</a>
                                            <ul>
                                                @foreach (var jitem in item.SubCategory)
                                                {
                                                    <li>
                                                        <a href="@($"{jitem.Path}")">
                                                            @jitem.CategoryName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <section class="tours">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="domesticTours" role="tabpanel" aria-labelledby="domesticTours-tab">
                                    <ul>
                                        @foreach (var item in ((List<Alice.Service.Model.TourDTO>)ViewBag.TourList))
                                        {
                                            <li class="animated fadeIn">
                                                <figure class="borderBox">
                                                    <a href="@($"{Model.Path}/{item.TourUrl}")">
                                                        <span class="wrap">
                                                            <picture>
                                                                <img src="@item.TourImage" data-src="@item.TourImage" data-loadMode="0" alt="" />
                                                            </picture>
                                                            @*<i class="price">From $ 4,218 pp</i>*@
                                                        </span>
                                                    </a>
                                                    <figcaption class="whiteBox">
                                                        <a href="@($"{Model.Path}/{item.TourUrl}")">
                                                            <b class="title">
                                                                @item.TourName
                                                            </b>
                                                            <span>@(Html.Raw(item.TourSpot))</span>
                                                            <em>
                                                                DISCOVER  MORE <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                            </em>
                                                        </a>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @*<div class="col-12 col-md-4 col-lg-3">
                    <div class="blurBox col3 wow fadeIn" data-wow-delay="0.2s">
                        <div class="insiderBox">
                            <a>
                                <picture>
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/Content/img/c2.jpg" data-loadMode="0" class="lazyload" alt="Travel">
                                </picture>
                            </a>
                            <div class="insiderContent">
                                <a class="visibleText" href="family-packages.html">Chauffeur <br> Services</a>
                                <ul>
                                    <li>
                                        <a href="family-packages.html">
                                            Short Group Jeourney
                                        </a>
                                    </li>
                                    <li>
                                        <a href="family-packages.html">
                                            Culture
                                        </a>
                                    </li>
                                    <li>
                                        <a href="family-packages.html">
                                            Family
                                        </a>
                                    </li>
                                    <li>
                                        <a href="family-packages.html">
                                            Culture
                                        </a>
                                    </li>
                                    <li>
                                        <a href="family-packages.html">
                                            Family
                                        </a>
                                    </li>
                                    <li>
                                        <a href="family-packages.html">
                                            Culture
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</section>

<section class="parallaxBox lazyload" style="background: url(/Content/img/middleBox.jpg)" data-link="/Content/css/parallaxModule.css">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="parallax">
                    <h3>
                        Exclusive <br> Vip Experiences
                    </h3>
                    <p>
                        Luxury Istanbul is the premier address in Turkey for exclusive travel services; combining comfort and authenticity in the Turkey's  as being specialists in luxury tailor-made holidays; it is perfect . <br><br>
                        This is where you will find high quality, exclusively private and personalized travel options to fulfill your individual or  corporate travel requirements for your holiday in Turkey.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials lazyload" data-link="/Content/css/commentModule.css" data-script="/Content/js/commentModule.js">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="commentSlider">

                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                Thank you very much again for the excellent service you have provided us with during our event in Istanbul.
                                I organized a rather large conference which lasted over a week in Istanbul with Top Executives and the service we have received was fantastic.
                                They are simply a very professional company and offer superb customer service.
                            </p>
                            <span>
                                Ms Shahbal O. <strong>Eastman Kodak, Dubai</strong>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                After a busy meeting day, we are picked up at our hotel by good conditioned bus to drive to our booked dinner cruise tour.
                                The trip itself has been the highlight of our international meeting. Illuminated Istanbul by night was fantastic and worth seeing.
                                The service has been very quick and attentive, we had good drinks and meal. Thank you for seamless day.
                            </p>
                            <span>
                                Mr. Doris D. <strong>MONDELEZ INT, Germany</strong>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                Thanks once again for your assistance and excellent service during the Turkey tour of our VIP guests.
                                The trip itself has been the highlight of our international meeting. Illuminated Istanbul by night was fantastic and worth seeing.
                                The service has been very quick and attentive, we had good drinks and meal. Thank you for seamless day.
                            </p>
                            <span>
                                Mr. Davor <strong>Agent of American Express Travel, Croatia</strong>
                            </span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                We had a great time with Mr Murat. He was a much better guide than we could have expected.
                                His knowledge of Istambul's history is excellent. He consulted with us before each location including the choice of restaurant.
                                His english was also excellent. I Thanking you for such a great tour of Istanbul.
                            </p>
                            <span>
                                Cruise Traveler, Mr. Denis C. <strong>By Celebrity Reflection, Montreal, Canada</strong>
                            </span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="itemContent">
                            <img src="~/Content/img/quote.png">
                            <p>
                                It was a pleasure meeting you and spending some time with you. Judy and I thoroughly enjoyed our time in Istanbul.
                                Fatih was an outstanding tour guide. His knowledge and care for us was very much appreciated.
                                Thank you for the lovely Calligraphy plate. Thank you again for making Istanbul my favorite place of the tour.
                            </p>
                            <span>
                                Ms.Judie M & Ms Connie C. <strong>Luxury round-the-world tour on Private jet,US</strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="commentNav">
                    <button type="button" class="litlePrev">
                        <img src="~/Content/img/litlePrev.png" alt="">
                    </button>
                    <button type="button" class="litleNext">
                        <img src="~/Content/img/litleNext.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="recommended">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="discoveredBox">
                    <div class="recommendedBlackBox">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/Content/img/recoBox.jpg" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                        <div class="psAbslt">
                            <h2 class="colorableText">Recommended By <span>Luxury Istanbul</span></h2>
                            <a href="/recommended-by-luxury-istanbul" class="gradientBtn">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/Content/img/discoverNow.png" data-loadMode="0" class="lazyload" alt="Luxury İstanbul">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
@section Scripts{
    <script src='~/Content/js/plugins.js'></script>
}